// Import styles here
* {
    box-sizing: border-box;
}

.html {
    font-size: 62.5%;
}

.navigation-bar {
    width: 100%; /* i'm assuming full width */
    height: 100px; /* change it to desired width */
    background-color: red; /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 85.3px;
    height: 100px;
    margin-left: 20px; /* if you want it vertically middle of the navbar. */
}

.twitter-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
}

.navigation-bar > div {
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 10px;
    height: 100%; /* if you want it to take the full height of the bar*/
    font-size: 35px;
    line-height: 80%;
}

.content-container {
    margin: 0 auto;
    padding: 0 15rem;
    max-width: 150rem;
}

.range {
    text-align: center;
}

.spread_elements {
    align-items: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 150rem) {
        flex-direction: row;
    }
}
